@using Microsoft.AspNetCore.Http;
@using Newtonsoft.Json;
@inject IHttpContextAccessor HttpContextAccessor

@{
    ViewData["Title"] = "Cart Page";
    var listProduct = ViewBag.listProduct;
    var listCategory = ViewBag.listCategory;
    Layout = "~/Views/Shared/UCartLayout.cshtml";
    
}

@{
    var session = HttpContextAccessor.HttpContext.Session.GetString("customer");
    var customer = new UserVm();
    if (session != null)
    {
        customer = JsonConvert.DeserializeObject<UserVm>(session);
    }
    float SumMoney = 0;
    int endSum = -1;
}

@model UCartVm;


<!-- cart-area-start -->
<section class="cart-area pt-120 pb-120">
    <div style="margin-top:100px" class="container">
        <div class="row">
            <div class="col-12">
                <form action="#">
                    <div class="table-content table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th class="product-thumbnail">Images</th>
                                    <th class="cart-product-name">Product</th>
                                    <th class="product-price">Unit Price</th>
                                    <th class="product-quantity">Quantity</th>
                                    <th class="product-subtotal">Total</th>
                                    <th class="product-remove">Remove</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var c in Model.Cart)
                                {
                                    if (c.UserID == customer.UserID)
                                    {
                                        foreach (var p in Model.Products)
                                        {
                                            if (p.ProductID == c.ProductID)
                                            {
                                                <tr>
                                                    <!-- Hình Ảnh Sản phẩm -->
                                                    <td class="product-thumbnail">
                                                        <a asp-action="Index" asp-controller="UProductDetail" asp-route-id="@p.ProductID">
                                                            <img src="~/StaticFile/Images/@p.Picture" alt="">
                                                        </a>
                                                    </td>
                                                    <!-- Tên Sản phẩm -->
                                                    <td class="product-name">
                                                        <a asp-action="Index" asp-controller="UProductDetail" asp-route-id="@p.ProductID">
                                                            @p.ProductName
                                                        </a>
                                                    </td>
                                                    <!-- Số lượng sản phẩm -->
                                                    <td class="product-price">
                                                        <span class="amount">
                                                            @{
                                                                string formattedNumber = @p.Price.ToString("N");
                                                            }
                                                            @formattedNumber
                                                        </span>
                                                    </td>
                                                    <td class="product-quantity">
                                                        <div onclick="setAddProduct(@c.ProductID,@c.Quantity)" class="cart-plus-minus"><input class="@c.ProductID" type="text" value="@c.Quantity">
                                                            <div onclick="setRemoveProduct(@c.ProductID,@c.Quantity)" class="dec qtybutton">-</div><div id="btn_addP" class=" inc qtybutton">+</div>
                                                        </div>
                                                    </td>
                                                    <!-- Giá sản phẩm -->
                                                    @{


                                                        string total = (@p.Price * @c.Quantity).ToString("N");
                                                        SumMoney += (p.Price * c.Quantity);
                                                       

                                                    }
                                                    <td class="product-subtotal"><span class="amount">@total</span></td>
                                                    <!-- Xóa sản phẩm khỏi giỏ hàng -->
                                                    <td class="product-remove"><a href="@Url.Action("Delete", "UHome", new { cartId = @c.CartID })"><i class="fa fa-times"></i></a></td>
                                                </tr>
                                            }
                                        }
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <!-- Mã khuyến mãi Start -->
                            <div class="coupon-all">
                                <div class="coupon">
                                    <input  id="coupon_code" class="input-text" name="coupon_code" value="" placeholder="Code" type="text">
                                    <button id="btn_discount" class="tp-btn-h1" name="apply_coupon" type="button">
                                        Mã giảm giá
                                    </button>
                                </div>
                                <!-- Mã khuyến mãi End -->
                                <!-- Sửa giỏ hàng Start -->
                               @*  <div class="coupon2">
                                    <button class="tp-btn-h1" name="update_cart" type="submit">Update cart</button>
                                </div> *@
                                <!-- Sửa giỏ hàng End -->
                            </div>
                        </div>
                    </div>
                    <!-- Thanh toán -->
                    <div class="row justify-content-end">
                        <div class="col-md-5">
                            <div class="cart-page-total">
                                <h2>Cart totals</h2>
                                <ul class="mb-20">
                                    <!-- Tổng giá hàng -->
                                    <li>Subtotal <span>@String.Format("{0:N0}", SumMoney)</span></li>
                                    <!-- Mã giảm giá -->
                                    <li>Coupon <span id="span_discout">$00</span></li>
                                    <!-- Tổng thanh toán -->
                                    <li>Total <span> <span id="total_product">@String.Format("{0:N0}" + "đ", SumMoney)</span></li>
                                </ul>
                                <a id="payment" class="tp-btn-h1" >Đặt hàng</a>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<script>

    var cu = @Html.Raw(JsonConvert.SerializeObject(@customer));
    const btn_login = document.querySelector(".block-userlink");  

    console.log("abc");
    if (cu.Account != null) {
        btn_login.style.visibility = "hidden";
    } else {
        window.location.href = '/UHome/Index';
        btn_login.style.visibility = "visible";
    }
    function setAddProduct(productId,quantity){
         var userId = @customer.UserID;
        
         var model = {
            quantity: String(quantity),
             userId : String(userId),
            productId: String(productId),
         }

        var jsonString = JSON.stringify(model);
        console.log(jsonString);
        $.ajax({
            url: '/UCart/AddProduct',
            type: 'POST',
            contentType: 'application/json',
            // dữ liệu đẩy xuống
            data: jsonString,
            headers: {
                'RequestVerificationToken': $('input[name="__RequestVerificationToken"]').val()
            },
            success: function (response) {
                if (response.message != null) {
                    const p = document.querySelector("." + productId);
                    p.ariaValueMax = response.message;
                }

            },
            error: function (error) {
                console.log("error");
            }


        });
    }
    function setRemoveProduct(productId, quantity) {
        var userId = @customer.UserID;

        var model = {
            quantity: String(quantity),
            userId: String(userId),
            productId: String(productId),
        }

        var jsonString = JSON.stringify(model);
        console.log(jsonString);
        $.ajax({
            url: '/UCart/RemoveProduct',
            type: 'POST',
            contentType: 'application/json',
            // dữ liệu đẩy xuống
            data: jsonString,
            headers: {
                'RequestVerificationToken': $('input[name="__RequestVerificationToken"]').val()
            },
            success: function (response) {
                if (response.message != null) {
                    const p = document.querySelector("." + productId);
                    p.ariaValueMax = response.message;
                }

            },
            error: function (error) {
                console.log("error");
            }


        });


    }
    var idDiscount = 0;
    document.getElementById("btn_discount").onclick = function () {
        var getCode = $('#coupon_code').val();
       
        $.ajax({
            url: '/UCart/GetValueCode',
            type: 'GET',
            contentType: 'application/json',
            // dữ liệu đẩy xuống
            data: {code: getCode},
            headers: {
                'RequestVerificationToken': $('input[name="__RequestVerificationToken"]').val()
            },
            success: function (response) {
              
                var abc = 1;
                idDiscount = response.id;
                const p = document.getElementById("span_discout");
                p.innerHTML = response.price.toLocaleString('vi-VN', { style: 'currency', currency: 'VND' });
                document.getElementById("payment").setAttribute('href', "UPayment/Index/"+response.id)
                document.getElementById("total_product").innerHTML = sumTotal.toLocaleString('vi-VN', { style: 'currency', currency: 'VND' });
               
            },
            error: function (error, xhr, status) {
                const p = document.getElementById("span_discout");
                console.log("error");
                var test = @SumMoney;
                p.innerHTML = 0;
                document.getElementById("payment").setAttribute('href', "UPayment/Index/" + (-1))
                document.getElementById("total_product").innerHTML = test.toLocaleString('vi-VN', { style: 'currency', currency: 'VND' });;
            }


        });

       

    }

   


</script>
<!-- cart-area-end -->
